# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Please Respectfully dont use .pyvenv
# It breaks so much
*.png
.vscode/**
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Data files
*.dat

# cache files
**/__pycache__
**/__pycache__/**
**/.pytest_cache
/Scripts
/Lib
/Include
pyvenv.cfg
settings.png
image.png
.vscode/settings.json
*.sqlite3
*.db
**/__pycache__/
# *.png
.vscode/**
**/*.dat
BoxInBox.png
